.round {
    
    position: relative;
    width:100px;
    margin:auto;
    margin-top:10vh;
  }

#stat{
    height:5px;
  }

#prog{
    text-align: center;
}

.fab[mini] {
  
  width: 40px;
  height: 40px;
  
}